:root{
  --rss-base-margin: 1em;
  --rss-item-margin: 0.5em;
  --font:14pt Bitter,Avenir,Roboto,Helvetica,Verdana,sans-serif;
  --fontfamily: Avenir,Roboto,Helvetica,Verdana,sans-serif;
}
pre{
  font: 10pt 'Lucida Console','Courier New',sans-serif;
}
.gridimg{
  padding: 1em;
 margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}
.rssgrid{
  display:grid;
  margin: var(--rss-base-margin);
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
}
.rssitem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:var(--rss-item-margin);
}
.rssitem img{
 float:left;
 margin-right:0.5em;
}
img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100vw;
  max-height: none;
}
#footer{
  margin:20px;
  padding:2em;
}
#main{
  width:80%;
  margin:2em;
}
#main p,ul,li{
  max-width:60em;
  font: var(--font);
}
.header{
  display:flex;
  background-color: #000000;
}
.textimg{
  padding: 0 2em 2em 2em;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 90%;
}
.listing{
  padding:1em;
  margin:1em;
  font-size:large;
}
.listing a{
 display:block;
}
.socialmedia{
  padding-right: 1em;
}
.socialmedia p{
  margin: 0;
}
.flex-grid{
 display: flex;
}
.col{
 flex:1;
}
@media (max-width: 400px) {
  .flex-grid {
      display: block;
 }
}
.flex-2-cols{
  display: flex;
  justify-content: space-between;
}
.flex-2-cols .col{
  flex:auto;
  padding:3em;
}
.col-right{
  flex-basis: 30%;
  margin:1em;
  font:var(--font);
}
#section{
 width:80%;
  padding: 0 2em;
  font-family: var(--fontfamily);
}
.logo{
  font: 4em arial, sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1.5em;
  margin-right: 1em;
  color:#fff;
  font-weight: bold;
  text-decoration: none;
}
.menu-icon {
  position: relative;
  margin: 1.25em;
  cursor: pointer;
  display: inline-block;
  float: right;
  user-select: none;
}
.menu-icon:before {
  content: "";
  position: absolute;
  margin: 0.8em;
  width: 5em;
  height: 5em;
  background: linear-gradient( to bottom, white, white 20%, black 20%, black 40%, white 40%, white 60%, black 60%, black 80%, white 80%, white 100% );
}
/* navigation */
.hide {
  display:none;
}
.show{
  display:block;
}
.animate-in {
  display:block;
  -webkit-animation: fadein 1s;
  -moz-animation:    fadein 1s;
  -o-animation:      fadein 1s;
  animation:         fadein 1s;
  animation-fill-mode: forwards;
}
.animate-out {
  display:block;
  -webkit-animation: fadeout 1s;
  -moz-animation:    fadeout 1s;
  -o-animation:      fadeout 1s;
  animation:         fadeout 1s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadein {
  0%   { transform: translateX(-350px); }
  100%   { transform: translateX(0px); }
}
@-moz-keyframes fadein {
  0%   { transform: translateX(-350px); }
  100%   { transform: translateX(0px); }
}
@-o-keyframes fadein {
  0%   { transform: translateX(-350px); }
  100%   { transform: translateX(0px); }
}
@keyframes fadeout {
  0%   { transform: translateX(-350px); }
  100%   { transform: translateX(0px); }
}
@-webkit-keyframes fadeout {
  100%   { transform: translateX(-350px); }
  0%   { transform: translateX(0px); }
}
@-moz-keyframes fadeout {
  100%   { transform: translateX(-350px); }
  0%   { transform: translateX(0px); }
}
@-o-keyframes fadeout {
  100%   { transform: translateX(-350px); }
  0%   { transform: translateX(0px); }
}
@keyframes fadeout {
  100%   { transform: translateX(-350px); }
  0%   { transform: translateX(0px); }
}
/** #navigation **/
#navigation {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left:0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}


#navigation a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}
#navigation a:hover {
  color: #818181;
}
#navigation #close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}
/*submenu*/
#navigation ul{
  list-style: none;
  padding-left: 0px;
}
#navigation ul > li > ul{
  padding-left: 40px;
}
#navigation ul > li > a{
  font-weight: bold;
}
#navigation ul > li > ul > li > a{
  font-weight: normal;
}
/*mobile css*/
@media (max-width: 1200px) {
  #main{
      margin: 0;
 }
  .flex-2-cols {
      display: block;
 }
  .flex-2-cols .col{
      padding: 1em;
 }
  .socialmedia {
      display:none;
 }
  .logo{
     font: 2em arial, sans-serif;
 }
  .menu-icon:before {
      content: "";
      position: absolute;
      margin: 0.4em;
      width: 2.5em;
      height: 2.5em;
 }
  .menu-icon {
      margin: 0.6em;
 }
  #navigation a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 20px;
      color: #ffffff;
      display: block;
      transition: 0.3s;
 }
  p iframe{
      transform: scale(0.55,0.55);
      margin: -3em -7em;
 }
}
